<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Загрузка</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4">Загрузить состояние хранилища из файла</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Главная страница</a></li>
        </ul>
    </header>
    <p class="px-3 mb-3">Выберете файл, полученный командой 'dump' или аналогичный ему</p>
    <div class="px-3 mb-3">
        <form action="/load" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile" name="inputFile" required="">
                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04"
                        placeholder="">Загрузить
                </button>
            </div>
        </form>
    </div>
    <div class="container">
        <p class="mb-1" th:text="${answer}"/>
        <p class="mb-1" th:text="${comment1}"/>
        <p th:text="${comment2}"/>
    </div>

</div>
</body>
</html>