<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4">Главная страница</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/set" class="nav-link">Добавить</a></li>
            <li class="nav-item"><a href="/get" class="nav-link">Получить</a></li>
            <li class="nav-item"><a href="/remove" class="nav-link">Удалить</a></li>
            <li class="nav-item"><a href="/dump" class="nav-link">Состояние хранилища</a></li>
            <li class="nav-item"><a href="/load" class="nav-link">Зпгрузить хранилище</a></li>
        </ul>
    </header>

</div>